/*IMPORTING FONT*/
@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

/*COLOR PALLETE*/
:root{
    --color-font-head: rgb(31, 31, 31);
    --color-font-sub: rgb(92, 92, 92);
    --color-form: rgba(206, 206, 206, 0.185);
    --color-font-life: rgb(44, 62, 88);
    --color-font-hlife: rgb(44, 62, 88);

}

/*MAIN SECTION*/

body{
    font-family: 'Poppins', sans-serif;
      font-weight: 400;
      width: 90%;
      padding: 0.8% 2%;
      margin: auto;
}

#padding-first{
    background: var(--color-form);
    border-radius: 1rem; 
    margin: auto;
}

h1{
    font-size: 2.5rem;
    color: var(--color-font-head);
    text-align: center;
    padding-top: 40px;
    padding-bottom: 0%;
}

h4{
    font-size: 1.65rem;
    color: rgb(58, 57, 57);
    text-align: center;
}

h6{
    font-size: 1rem;
    color: var(--color-font-hlife);
    text-align: left;
    padding-bottom: 0px;
}

p{
    font-size: 0.7rem;
    color: var(--color-font-life);
    text-align: left;
}

#sub-heading{
    font-size: 0.9rem;
    color: var(--color-font-sub);
    text-align: center;
    padding-top: 0%;
    padding-bottom: 45px;
}

#img-caption{
    font-size: 0.9rem;
    color: var(--color-font-life);
    text-align: center;
    padding: 5px;
}

#tribute{
    font-size: 1.15rem;
    color: var(--color-font-head);
    text-align: center;
    padding: 5rem 10rem;
}

img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

#image-block{
    background: white;
    padding: 10px;
    margin:0px;
}

#early-life{
    display: block;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 0px;
}

#dip-car{
    display: block;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 0px;
}

#in-rel{
    display: block;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 0px; 
}

#ww-two{
    display: block;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 0px;
}
