/*IMPORTING FONT*/
@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

/*COLOR PALLETE*/
:root {
    --color-font: rgb(218, 218, 218);
    --color-form:   rgba(39, 42, 82, 0.65);
    --color-button: #ff00b3;
  }

/*FORM*/
body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    margin: 0;
    background-image: linear-gradient(
      115deg,
      rgba(65, 26, 83, 0.8),
      rgba(240, 10, 152, 0.8)
    ),url("assets/bg-img.jpg");
    background-size: cover;
    background-position: center;
  }

form {
    background: var(--color-form);
    padding: 2.5rem 0.625rem;
    border-radius: 0.25rem;
    color: var(--color-form);
    margin: auto;
  }

.form-items {
    margin: 0 auto 1.25rem auto;
    padding: 0.25rem;
  }

input,
button,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.subheading{
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 00;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    text-align: center;
    color: var(--color-font);
  }

header{
    padding: 0 0.625rem;
    margin-bottom: 1.875rem;
}

h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  text-align: center;
  color: var(--color-font);
  font-size: 5rem;
}

label{
    color: var(--color-font);
    display: block;
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
}

.container {
    width: 50%;
    margin:auto;
    padding: 2%;
    border: 5px;
    border-radius: 50%;
  }

#name,#email,#number,.thoughts{
  border: 0px;
  border-radius: 10px;
  padding: 5%;
  margin: auto;
}

#name, #email, #number{
    display: block;
    width:92%;
    padding: 0.50rem;
    margin: auto;
}

#dropdown{
  border: 0px;
  border-radius: 10px;
  padding: 5%;
  margin: auto;
  display: block;
  width:95%;
  padding: 0.50rem;
  margin: auto;
}

#rad,.exp{
  margin-right: 0.625rem;
  min-height: 1.25rem;
  min-width: 1.25rem;
}

.r-lab,.c-lab,.radio,.chk-boxes{
  display:inline-block;
  padding-top: 10px;
}

#submit{
        display: block;
        width: 50%;
        padding: 0.75rem;
        background: var(--color-button);
        color: var(--color-font);
        border-radius: 15px;
        cursor: pointer;
        margin: auto;
}

.thoughts{
    min-height: 120px;
    width: 96.5%;
    padding: 0.625rem;
    resize: vertical;
}

button {
  border: none;
}

.input-radio,
.input-checkbox {
  display: inline-block;
  margin-right: 0.625rem;
  min-height: 1.25rem;
  min-width: 1.25rem;
}
